<div class="homepage-container">
  <%= image_tag("headshot.jpg", :alt => "", :height => '90', :class => "headshot") %>
  <div class="homepage-summary summary">
    Full stack growth engineer at <a href="https://www.airbnb.com/" class="no-style">Airbnb</a>, currently living in
    <span class="strike">LA</span>
    <span class="strike">Seattle</span>
    <span class="strike">SF</span> Beijing.
    I'm into
    <%= link_to("travel", "travel", :class => "no-style") %>, 
    <%= link_to("music", "music", :class => "no-style") %>, and the
    <%= link_to("outdoors", "#", :class => "no-style") %> 
  </div>
  <div class="homepage-links">
    <div class="homepage-link">
      <a href="https://github.com/allenwoot">Github</a>
    </div>
    <div class="homepage-link">
      <a href="https://www.linkedin.com/in/allenwoot">Linkedin</a>
    </div>
    <div class="homepage-link">
      <a href="mailto:allen@allenwoot.com">Contact</a>
    </div>
  </div>
</div>
