<p><%= link_to image_tag("melancholy.jpg", :width => '500'), asset_path("melancholy.pdf") %></p>
<p><%= image_tag("bass.jpg", :width => '500') %></p>
<p><iframe width="500" height="315" src="https://www.youtube.com/embed/M6HWmaFhYLY" frameborder="0" allowfullscreen></iframe></p>
<p><iframe width="500" height="315" src="https://www.youtube.com/embed/SP786ga_uD8" frameborder="0" allowfullscreen></iframe></p>
