<p class="subheader">About Me</p>
<p class>
  I'm Allen, a full time learner, and a part time software engineer. I currently
  work at Airbnb, and my technical interests are in full stack web development,
  distributed web services, and infrastructure. In my free time, I love making
  music, outdoor activities, and traveling the world.
</p>
<p class="subheader">Projects</p>
<p>
  <%= link_to "Det", "det" %> - track debts between friends
  <br>
  <%= link_to "Proxy", "proxy" %> - on demand anything
</p>
<p class="subheader">Music</p>
<p>
<%= link_to "Melancholy", asset_path("melancholy.pdf") %> - a four hands piano arrangement
</p>
<p class="subheader">Contact</p>
<p>
  You can reach me at <a href="mailto:allen@allenwoot.com">allen@allenwoot.com</a>.
</p>

