<p class="subheader">Music</p>

<%= image_tag("melancholy.png", :size => '560x400') %>
<%= image_tag("bass.jpg", :size => '560x400') %>
<iframe width="560" height="315" src="https://www.youtube.com/embed/M6HWmaFhYLY" frameborder="0" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/SP786ga_uD8" frameborder="0" allowfullscreen></iframe>
