<p class="subheader">Convert between Ruby and JSON hashes</p>
<textarea class="hash-converter-textarea" id="hash-textarea" autofocus placeholder="Enter your Ruby or JSON hash here."></textarea>
<br>
<br>
<button class="hash-converter-btn" id="to-json-btn">Ruby to JSON</button>
<button class="hash-converter-btn" id="to-ruby-btn">JSON to Ruby</button>
