<p class="subheader">Tools</p>
<p>
  A collection of tools that I've written for myself.
</p>
<p>
  <%= link_to "JSON to Ruby hash", "json_to_ruby_hash" %>
</p>
<p>
  <%= link_to "Ruby hash to JSON", "ruby_hash_to_json" %>
</p>
