<p class="subheader">Tools</p>
<p>
<%= link_to "Ruby and JSON hash converter", "ruby-json-hash-converter" %> - I frequently have to convert between
Ruby and JSON hashes. It's not difficult to do, but I really just wanted a basic web tool where I can
copy-paste-convert. I couldn't find this anywhere, so I built one.
</p>
